/* CSSs */
@import url("header.css");
@import url("footer.css");
@import url("body.css");

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

/* Rules applied to everything */
* {
    font-family: 'Open-Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../imag/textures/notebook.png');
}

/* Links */

a, button {
    padding: 40px;
    text-decoration: none;
    background-color: rgb(65,160,14);
    padding: 10px;
    color: white;
    border: none;
}

a:hover ,button:hover {
    background-color: rgb(36,128,1);
}

a:visited {
    color: white;
}





