<h2 class="title">Modify Marmot</h2>
{   if isset($marmot)}
    <ul class="list">
    {   section name=i loop=$marmot}
        <li class="list">
            {$marmot[i].name}
            <a href="{$url.global}/modify/delete/marmot/{$marmot[i].ID}">Borrar</a>
            <a href="{$url.global}/modify/change/marmot/{$marmot[i].ID}">Modificar</a>
        </li>
    {   /section}
    </ul>

{   else}
    <p>No hi han marmotes</p>
{   /if}
<br><br>