<h2 class="title">Modify Monkey</h2>
{   if isset($monkey)}
<ul class="list">
    {   section name=i loop=$monkey}
    <li class="list">
        {$monkey[i].name}
        <a href="{$url.global}/modify/delete/monkey/{$monkey[i].ID}">Borrar</a>
        <a href="{$url.global}/modify/change/monkey/{$monkey[i].ID}">Modificar</a>
    </li>
    {   /section}
</ul>
{   else}
<p>No hi han monkey</p>
{   /if}
<br><br>