{$modules.head}





<div class="block">
    <div class="inner-block" align="center">
        <h2 id="monkeyNumber">Error 404</h2>
        <img src="{$url.global}/imag/errorMonkey.jpg" >
        <br><br>
    </div>
</div>

{$modules.footer}