<h2 class="title">Upload Platypus</h2>
{   if $allOk}
<p>Gràcies per la teva participació!<p>
    <br><br>
    <a href= {$url.global}/upload>Tornar</a>
    {   else}
<form class="uploadForm" id="uploadPlatypus" action="" method="POST">
    Nom de la imatge: <input type="text" id="nomPlatypus" name="nomPlatypus">
    <br>
    URL de la imatge: <input type="text" id="urlPlatypus" name="urlPlatypus">
    <br>
    <input type="submit" value="Upload">
</form>
{   /if}
<br>
